<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="typescript, craig beswetherick, demo, tank, game, pixi.js"
    />
    <meta name="author" content="craigbeswetherick@gmail.com" />
    <meta name="description" content="Tank game" />
    <meta property="og-title" content="Tank game" />
    <meta
      property="og:description"
      content="<%=htmlWebpackPlugin.options.description %>"
    />
    <meta property="og:url" content="<%=htmlWebpackPlugin.options.url %>" />
    <meta
      property="og:site_name"
      content="<%=htmlWebpackPlugin.options.name %>"
    />
    <meta property="og:type" content="<%=htmlWebpackPlugin.options.type %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no"
    />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W383ZG357Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-W383ZG357Q');
    </script>
    </script>
  </head>

  <body></body>
</html>
